anthropic
bs4
chromadb
datasets
gpt4all
ipykernel
kor
langchain
langchain_community
langchain-cohere
langchain-nomic
langchain-openai
langchainhub
langgraph
markdownify
numexpr
openai
pinecone-client
python-dotenv
pytube
ragatouille
tavily-python
tiktoken
wikipedia
youtube-search
youtube-transcript-api
